.single {
    width: 100%;
    padding: 20px;
}
.btn-outline-dark{
    float: left;
}

.chart {
    display: inline-block;
    width: 400px;
    
}
.chart-2 {
    display: inline-block;
    width: 400px;
    overflow: hidden;
}

h2 {
    font-size: 3rem;
    margin: 40px;
}

.err {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 50px;
    color: red;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 1px solid pink;
}